<h2>Volunteer Status<h2>
<hr>
<h1 class="green_text"><b><%= @found_volunteer.name %></b></h1>

<% if (@found_project  == nil) %>
  <h5>( "<em><%= @found_volunteer.name %>"</em> doesn't have a project yet )</h5>

  <% if (@all_projects.length == 0) %>
    <h4>...there are currently no projects to choose from</h4>
  <% else %>
    <h5>( assign a project using the selects below )</h5>
    <div class="center">
      <form action="/add_project_to_volunteer/<%=@found_volunteer.id%>" method="post">
        <div class="form-group">
          <% @all_projects.each do |proj| %>
          <input id="<%=proj.title%>" type="radio" name="proj_id" value="<%=proj.id%>"><%= proj.title %></input><br>
          <% end %>
          <br>
        </div>
        <button type="submit" class="btn btn-success">update</button>
      </form>
    </div>
  <% end %>

<% else %>
  <h3>Project: <%= @found_project.title %></h3>
<% end %>

<hr>
<div class="center">
  <a href="/delete/<%=@found_volunteer.id%>"><button class="btn btn-warning">Remove Volunteer</button></a>
  <a href="/"><button class="btn btn-default">Return Home</button></a>
</div>
