<h2>Volunteer Status<h2>
<hr>
<h2>Name: <%= @found_volunteer.name %></h2>

<% if (@proj_title  == nil) %>
  <h3>"<em><%= @found_volunteer.name %>"</em> doesn't have a project yet.</h3>

  <% if (@all_projects.length == 0) %>
    <h4>...and there are currently no projects to choose from</h4>
  <% else %>
    <h4>assign to a project using the selects below</h4>
    <div class="center">
      <form action="/add_proj_to_vol/<%=@found_volunteer.id%>" method="post">
        <div class="form-group">
          <% @all_projects.each do |proj| %>
          <input type="radio" name="proj_id" value="<%=proj.id%>"><%= proj.title %></input><br>
          <% end %>
          <br>
        </div>
        <button type="submit" class="btn btn-success">update</button>
      </form>
    </div>
  <% end %>

<% else %>
  <h3>Project: <%= @proj_title %></h3>
<% end %>

<hr>
<div class="center">
  <a href="/delete/<%=@found_volunteer.id%>"><button class="btn btn-warning">Remove Volunteer</button></a>
  <a href="/"><button class="btn btn-default">Return Home</button></a>
</div>

<%
#<form>
#  <input type="radio" name="gender" value="male" checked> Male<br>
#  <input type="radio" name="gender" value="female"> Female<br>
#  <input type="radio" name="gender" value="other"> Other
#</form>
%>
