<h2>Project Status<h2>
<hr>
<h1><b class="green_text"><%= @found_proj.title %></b></h1>

<%# RENAME PROJECT%>
<div class="center">
  <form action="/project_rename/<%=@found_proj.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="new_title">Rename: </label>
    <input type="text" name="new_title">
    <button type="submit" class="btn btn-success">Save</button>
  </form>
  <hr>
</div>

<%# CURRENT VOLUNTEERS ON PROJECT + REMOVE %>
<% if (@found_volunteers_list.length == 0) %>
  <h5>("<em><%= @found_proj.title %>"</em> - doesn't have any volunteers yet)</h5>
<% else %>
  <h4>Volunteers currently assigned:</h4>
  <form action="/remove_volunteers_from_project/<%= @found_proj.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <% @found_volunteers_list.each do |vol| %>
    <div class="green_text center">
      <div class="checkbox">
        <label><b>
          <input type="checkbox" name="vol_ids[]" value="<%= vol['id'] %>"><%= vol['name'] %>
        </label></b>
      </div>
    </div>
    <% end %>
    <div class="center">
      <button class="btn btn-warning" type="submit">Remove Volunteers</button>
    </div>
  </form>
<% end %>

<hr>
<%# LIST VOLUNTEERS + ADD TO PROJECT %>
<div class="center">
  <h4>Add more volunteers to the project</h4>
  <form action="/add_volunteers_to_project/<%= @found_proj.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <% @all_volunteers.each() do |vol| %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="vol_ids[]" value="<%= vol.id %>"><%= vol.name %>
      </label>
    </div>
    <% end %>
    <button class="btn btn-info" type="submit">Add Volunteers</button>
  </form>
</div>

<hr>
<%# DELETE ENTIRE PROJECT %>
<div class="center">
  <form action="/delete_proj/<%=@found_proj.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-danger">Remove Project</button>
  </form>
  <br>
  <a href="/"><button class="btn btn-default">Return Home</button></a>
</div>
