<h3>Project Status<h3>
<hr>
<h2><b class="green_text"><%= @found_proj.title %></b></h2>

<div class="center">
  <form action="/project_rename/<%=@found_proj.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <button type="submit" class="btn btn-success">Update Name</button>
  </form>
  <hr>
</div>

<%# CURRENT VOLUNTEERS ON PROJECT%>
<% if (@found_volunteers_list.length == 0) %>
  <h5>("<em><%= @found_proj.title %>"</em> - doesn't have any volunteers yet)</h5>
<% else %>
  <h4>Volunteers currently assigned:</h4>
  <form action="/remove_volunteers_from_project/<%= @found_proj.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <% @found_volunteers_list.each do |vol| %>
    <div class="green_text center">
      <div class="checkbox">
        <label><b>
          <input type="checkbox" name="vol_ids[]" value="<%= vol['id'] %>"><%= vol['name'] %>
        </label></b>
      </div>
    </div>
    <% end %>
    <div class="center">
      <button class="btn btn-danger" type="submit">Delete Volunteers</button>
    </div>
  </form>
<% end %>

<hr>
<%# ADD VOLUNTEERS TO PROJECT%>
<div class="center">
  <h4>Add more volunteers to the project</h4>
  <form action="/add_volunteers_to_project/<%= @found_proj.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <% @all_volunteers.each() do |vol| %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="vol_ids[]" value="<%= vol.id %>"><%= vol.name %>
      </label>
    </div>
    <% end %>
    <button class="btn btn-info" type="submit">Add Volunteers</button>
  </form>
</div>

<hr>

<div class="center">
  <form action="/delete_proj/<%=@found_proj.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-warning">Remove Project</button>
  </form>
  <br>
  <a href="/"><button class="btn btn-default">Return Home</button></a>
</div>
